## Housing Case Study

Problem Statement:

Consider a real estate company that has a dataset containing the prices of properties in the Delhi region. It wishes to use the data to optimise the sale prices of the properties based on important factors such as area, bedrooms, parking, etc.

Essentially, the company wants —


- To identify the variables affecting house prices, e.g. area, number of rooms, bathrooms, etc.

- To create a linear model that quantitatively relates house prices with variables such as number of rooms, area, number of bathrooms, etc.

- To know the accuracy of the model, i.e. how well these variables can predict house prices.

### Importing and Understanding Data

In [7]:
import pandas as pd
import numpy as np

# Importing Housing.csv
housing = pd.read_csv('Housing.csv')

# Looking at the first five rows
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [2]:
# What type of values are stored in the columns?
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
price               545 non-null int64
area                545 non-null int64
bedrooms            545 non-null int64
bathrooms           545 non-null int64
stories             545 non-null int64
mainroad            545 non-null object
guestroom           545 non-null object
basement            545 non-null object
hotwaterheating     545 non-null object
airconditioning     545 non-null object
parking             545 non-null int64
prefarea            545 non-null object
furnishingstatus    545 non-null object
dtypes: int64(6), object(7)
memory usage: 55.4+ KB

### Data Preparation

- We can see that your dataset has many columns with values as 'Yes' or 'No'.

- We need to convert them to 1s and 0s, where 1 is a 'Yes' and 0 is a 'No'.

In [8]:
# Converting Yes to 1 and No to 0
housing['mainroad'] = housing['mainroad'].map({'yes': 1, 'no': 0})
housing['guestroom'] = housing['guestroom'].map({'yes': 1, 'no': 0})
housing['basement'] = housing['basement'].map({'yes': 1, 'no': 0})
housing['hotwaterheating'] = housing['hotwaterheating'].map({'yes': 1, 'no': 0})
housing['airconditioning'] = housing['airconditioning'].map({'yes': 1, 'no': 0})
housing['prefarea'] = housing['prefarea'].map({'yes': 1, 'no': 0})

In [9]:
# Now let's see the head
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

The variable 'furnishingstatus' had three levels. We need to convert it to integer.

In [10]:
# Creating a dummy variable for 'furnishingstatus'
status = pd.get_dummies(housing['furnishingstatus'])

In [11]:
# The result has created three variables that are not needed.
status.head()

   furnished  semi-furnished  unfurnished
0          1               0            0
1          1               0            0
2          0               1            0
3          1               0            0
4          1               0            0

In [13]:
# we don't need 3 columns.
# we can use drop_first = True to drop the first column from status df.
status= pd.get_dummies(housing['furnishingstatus'], drop_first=True)
status

     semi-furnished  unfurnished
0                 0            0
1                 0            0
2                 1            0
3                 0            0
4                 0            0
5                 1            0
6                 1            0
7                 0            1
8                 0            0
9                 0            1
10                0            0
11                1            0
12                1            0
13                0            0
14                1            0
15                1            0
16                0            1
17                0            0
18                0            0
19                1            0
20                1            0
21                0            1
22                0            0
23                0            0
24                0            0
25                0            0
26                1            0
27                1            0
28                0            1
29                1            0
..              ...          ...
515               0            1
516               0            1
517               0            1
518               0            1
519               0            1
520               0            1
521               0            1
522               0            0
523               0            0
524               0            1
525               0            1
526               0            1
527               1            0
528               0            1
529               0            1
530               0            1
531               0            1
532               0            1
533               0            1
534               0            1
535               0            1
536               0            1
537               0            1
538               0            1
539               0            1
540               0            1
541               1            0
542               0            1
543               0            0
544               0            1

[545 rows x 2 columns]

In [14]:
#Adding the results to the master dataframe
housing= pd.concat([housing,status],axis=1)
# Now let's see the head of our dataframe.
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished,0,0

In [16]:
# Dropping furnishingstatus as we have created the dummies for it
housing.drop(['furnishingstatus'],axis=1,inplace=True)
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0

#### Creating a new variable

In [17]:
# Let us create the new metric and assign it to "areaperbedroom"
housing['areaperbedroom'] = housing['area']/housing['bedrooms']

# Metric:bathrooms per bedroom
housing['bbratio'] = housing['bathrooms']/housing['bedrooms']

housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0,1855.0,0.500000
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0,2240.0,1.000000
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0,3320.0,0.666667
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0,1875.0,0.500000
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0,1855.0,0.250000

### Rescaling the Features 
It is extremely important to rescale the variables so that they have a comparable scale. 
There are twocoon ways of rescaling 
1. Normalisation (min-max scaling) and 
2. standardisation (mean-o, sigma-1) 
Let's try normalisation

In [18]:
#defining a normalisation function 
def normalize (x): 
    return ( (x-np.min(x))/ (max(x) - min(x)))

#applying the normalization to all the features of the hosuing dataframe
housing= housing.apply(normalize)
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.0,0.0,0.237016,0.4
1,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.0,0.298923,1.0
2,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,1.0,0.0,0.472584,0.6
3,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.0,0.0,0.240232,0.4
4,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.0,0.0,0.237016,0.1

## Splitting Data into Training and Testing Sets

In [19]:
print("The list of columns available in the Dataframe : \n")
housing.columns

The list of columns available in the Dataframe :

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'semi-furnished', 'unfurnished',
       'areaperbedroom', 'bbratio'],
      dtype='object')

In [20]:
# Putting feature variable to X
X = housing[['area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'semi-furnished', 'unfurnished',
       'areaperbedroom', 'bbratio']]

# Putting response variable to y
y = housing['price']

In [21]:
from sklearn.model_selection import train_test_split
#random_state is the seed used by the random number generator, it can be any integer.

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7 ,test_size = 0.3, random_state=100)

In [22]:
print(X_test)

         area  bedrooms  bathrooms   stories  mainroad  guestroom  basement  \
265  0.084536       0.4   0.000000  0.333333       1.0        0.0       0.0
54   0.298969       0.4   0.333333  0.333333       1.0        1.0       0.0
171  0.592371       0.4   0.000000  0.000000       1.0        0.0       0.0
244  0.252234       0.4   0.000000  0.333333       1.0        1.0       1.0
268  0.226804       0.6   0.000000  0.333333       1.0        0.0       0.0
231  0.183505       0.4   0.000000  0.000000       1.0        0.0       0.0
25   0.336082       0.6   0.333333  0.333333       1.0        1.0       1.0
169  0.336082       0.6   0.333333  0.333333       0.0        0.0       0.0
494  0.353952       0.2   0.000000  0.000000       1.0        0.0       0.0
120  0.336082       0.4   0.000000  0.000000       1.0        1.0       1.0
368  0.274227       0.2   0.000000  0.000000       0.0        0.0       0.0
78   0.278351       0.4   0.000000  0.000000       1.0        1.0       1.0
523  0.078144       0.6   0.333333  0.333333       1.0        0.0       0.0
125  0.958763       0.4   0.000000  0.000000       1.0        0.0       0.0
150  0.239588       0.4   0.000000  0.333333       1.0        1.0       1.0
195  0.189691       0.6   0.666667  0.333333       1.0        0.0       1.0
3    0.402062       0.6   0.333333  0.333333       1.0        0.0       1.0
272  0.166667       0.4   0.000000  0.000000       1.0        1.0       1.0
40   0.336770       0.4   0.000000  0.333333       1.0        0.0       1.0
117  0.140893       0.6   0.000000  0.333333       1.0        1.0       0.0
454  0.195876       0.4   0.000000  0.333333       1.0        0.0       0.0
326  0.168385       0.6   0.000000  0.000000       0.0        0.0       1.0
260  0.103918       0.4   0.000000  0.333333       1.0        0.0       0.0
486  0.298969       0.2   0.000000  0.000000       1.0        0.0       0.0
405  0.096907       0.4   0.000000  0.000000       1.0        0.0       0.0
504  0.105498       0.2   0.000000  0.000000       1.0        0.0       0.0
254  0.196564       0.6   0.000000  0.333333       1.0        0.0       0.0
104  0.264605       0.4   0.333333  0.000000       1.0        1.0       1.0
331  0.385567       0.4   0.333333  0.000000       1.0        1.0       1.0
15   0.298969       0.6   0.000000  0.333333       1.0        0.0       1.0
..        ...       ...        ...       ...       ...        ...       ...
416  0.123711       0.4   0.000000  0.000000       1.0        0.0       1.0
100  0.340206       0.4   0.333333  0.000000       1.0        0.0       1.0
7    1.000000       0.8   0.666667  0.333333       1.0        0.0       0.0
333  0.092784       0.4   0.000000  0.333333       1.0        0.0       0.0
429  0.214777       0.6   0.000000  0.333333       1.0        0.0       0.0
18   0.202749       0.4   0.333333  0.333333       1.0        1.0       0.0
480  0.125773       0.4   0.000000  0.333333       0.0        0.0       0.0
505  0.161512       0.4   0.000000  0.333333       1.0        0.0       0.0
236  0.083849       0.2   0.000000  0.333333       1.0        1.0       1.0
452  0.505155       0.4   0.000000  0.333333       1.0        0.0       0.0
502  0.125773       0.2   0.000000  0.000000       1.0        0.0       0.0
198  0.295395       0.4   0.000000  0.333333       1.0        0.0       0.0
400  0.127973       0.2   0.000000  0.000000       1.0        0.0       0.0
378  0.042955       0.4   0.000000  0.666667       1.0        0.0       0.0
175  0.560137       0.6   0.333333  0.333333       1.0        1.0       0.0
55   0.298969       0.4   0.000000  0.333333       1.0        0.0       0.0
519  0.219244       0.2   0.000000  0.333333       1.0        0.0       0.0
229  0.550997       0.6   0.333333  0.333333       1.0        1.0       1.0
410  0.151203       0.4   0.000000  0.000000       1.0        0.0       0.0
221  0.121649       0.6   0.333333  0.333333       1.0        0.0       0.0
61   0.496907       0.2   0.000000  0.000000       1.0        0.0       0.0
345  0.025086       0.4   0.000000  0.333333       1.0        0.0       1.0
379  0.128522       0.4   0.000000  0.000000       1.0        0.0       0.0
355  0.453608       0.4   0.000000  0.000000       1.0        0.0       0.0
464  0.195876       0.2   0.000000  0.333333       1.0        0.0       0.0
413  0.020619       0.4   0.333333  0.333333       1.0        0.0       1.0
191  0.621993       0.4   0.000000  0.333333       1.0        1.0       1.0
310  0.297938       0.4   0.000000  0.000000       1.0        0.0       1.0
46   0.298969       0.4   0.333333  1.000000       1.0        0.0       0.0
50   0.397938       0.4   0.333333  1.000000       1.0        0.0       0.0

     hotwaterheating  airconditioning   parking  prefarea  semi-furnished  \
265              0.0              0.0  0.000000       1.0             1.0
54               0.0              1.0  0.333333       0.0             1.0
171              0.0              0.0  0.333333       1.0             1.0
244              0.0              0.0  0.000000       1.0             1.0
268              0.0              1.0  0.000000       0.0             1.0
231              0.0              0.0  0.000000       1.0             1.0
25               0.0              1.0  0.666667       1.0             0.0
169              0.0              1.0  0.000000       0.0             1.0
494              0.0              0.0  0.000000       0.0             0.0
120              0.0              0.0  0.666667       1.0             0.0
368              0.0              0.0  0.000000       0.0             1.0
78               0.0              1.0  0.666667       1.0             0.0
523              0.0              0.0  0.000000       0.0             0.0
125              0.0              1.0  0.666667       0.0             1.0
150              0.0              1.0  0.000000       1.0             0.0
195              0.0              0.0  0.666667       0.0             1.0
3                0.0              1.0  1.000000       1.0             0.0
272              0.0              0.0  0.666667       0.0             1.0
40               0.0              1.0  0.000000       1.0             0.0
117              0.0              1.0  0.000000       0.0             0.0
454              0.0              1.0  0.000000       0.0             0.0
326              0.0              0.0  0.000000       0.0             0.0
260              0.0              1.0  0.333333       0.0             0.0
486              0.0              0.0  0.000000       0.0             1.0
405              0.0              0.0  0.000000       0.0             0.0
504              0.0              1.0  0.000000       0.0             0.0
254              0.0              1.0  0.666667       0.0             1.0
104              0.0              0.0  0.666667       1.0             0.0
331              0.0              0.0  1.000000       0.0             0.0
15               0.0              0.0  0.666667       0.0             1.0
..               ...              ...       ...       ...             ...
416              0.0              0.0  0.666667       0.0             0.0
100              0.0              1.0  0.000000       1.0             0.0
7                0.0              0.0  0.000000       0.0             0.0
333              0.0              0.0  0.000000       0.0             1.0
429              0.0              0.0  0.000000       0.0             0.0
18               0.0              1.0  0.666667       0.0             0.0
480              0.0              0.0  0.333333       0.0             1.0
505              0.0              1.0  0.000000       0.0             0.0
236              0.0              0.0  0.000000       1.0             1.0
452              0.0              0.0  0.666667       0.0             1.0
502              0.0              0.0  0.333333       0.0             1.0
198              0.0              1.0  0.000000       0.0             1.0
400              0.0              0.0  0.333333       1.0             0.0
378              1.0              1.0  0.000000       1.0             1.0
175              0.0              0.0  0.666667       0.0             1.0
55               0.0              1.0  0.333333       0.0             0.0
519              0.0              0.0  0.000000       0.0             0.0
229              0.0              0.0  0.333333       0.0             1.0
410              0.0              0.0  0.000000       0.0             0.0
221              0.0              0.0  0.000000       0.0             1.0
61               0.0              1.0  0.333333       0.0             1.0
345              0.0              0.0  0.000000       1.0             1.0
379              0.0              0.0  0.666667       1.0             0.0
355              0.0              0.0  0.666667       0.0             0.0
464              1.0              0.0  0.333333       0.0             1.0
413              0.0              0.0  0.000000       1.0             0.0
191              0.0              0.0  0.000000       0.0             1.0
310              0.0              0.0  0.000000       0.0             1.0
46               0.0              1.0  0.333333       0.0             0.0
50               0.0              0.0  0.333333       1.0             0.0

     unfurnished  areaperbedroom  bbratio
265          0.0        0.093102     0.20
54           0.0        0.260331     0.60
171          0.0        0.489146     0.20
244          0.0        0.223884     0.20
268          0.0        0.137723     0.10
231          0.0        0.170285     0.20
25           0.0        0.201640     0.40
169          0.0        0.201640     0.40
494          1.0        0.485448     0.40
120          0.0        0.289275     0.20
368          0.0        0.392185     0.40
78           0.0        0.244251     0.20
523          0.0        0.050772     0.40
125          0.0        0.774883     0.20
150          1.0        0.214022     0.20
195          0.0        0.116015     0.70
3            0.0        0.240232     0.40
272          0.0        0.157153     0.20
40           0.0        0.289811     0.20
117          0.0        0.087474     0.10
454          1.0        0.179932     0.20
326          1.0        0.103554     0.10
260          0.0        0.108217     0.20
486          0.0        0.421129     0.40
405          1.0        0.102750     0.20
504          1.0        0.194806     0.40
254          0.0        0.120035     0.10
104          0.0        0.233532     0.60
331          0.0        0.327866     0.60
15           0.0        0.179932     0.10
..           ...             ...      ...
416          1.0        0.123653     0.20
100          1.0        0.292491     0.60
7            1.0        0.459720     0.52
333          0.0        0.099534     0.20
429          1.0        0.130688     0.10
18           0.0        0.185292     0.60
480          0.0        0.125261     0.20
505          1.0        0.153133     0.20
236          0.0        0.169481     0.40
452          0.0        0.421129     0.20
502          0.0        0.218524     0.40
198          0.0        0.257544     0.20
400          1.0        0.221097     0.40
378          0.0        0.060674     0.20
175          0.0        0.332690     0.40
55           1.0        0.260331     0.20
519          1.0        0.327866     0.40
229          0.0        0.327344     0.40
410          1.0        0.145093     0.20
221          0.0        0.076218     0.40
61           0.0        0.652677     0.40
345          0.0        0.046738     0.20
379          1.0        0.127405     0.20
355          0.0        0.380929     0.20
464          0.0        0.300531     0.40
413          1.0        0.043255     0.60
191          0.0        0.512247     0.20
310          0.0        0.259527     0.20
46           0.0        0.260331     0.60
50           1.0        0.337514     0.60

[164 rows x 15 columns]

In [23]:
print(X_train)

         area  bedrooms  bathrooms   stories  mainroad  guestroom  basement  \
359  0.134021       0.4   0.000000  0.000000       1.0        0.0       0.0
19   0.327835       0.4   0.333333  0.333333       1.0        0.0       0.0
159  0.103093       0.4   0.333333  0.000000       1.0        1.0       1.0
35   0.367698       0.4   0.333333  1.000000       1.0        0.0       0.0
28   0.432990       0.8   0.333333  0.333333       1.0        0.0       1.0
267  0.224742       0.4   0.000000  0.333333       1.0        0.0       0.0
263  0.159313       0.4   0.000000  0.333333       0.0        0.0       0.0
433  0.125773       0.6   0.000000  0.333333       0.0        0.0       0.0
217  0.358213       0.4   0.000000  0.333333       1.0        0.0       0.0
154  0.137457       0.4   0.333333  0.333333       1.0        0.0       0.0
534  0.092784       0.6   0.000000  0.333333       1.0        0.0       0.0
96   0.505155       0.4   0.000000  0.000000       1.0        0.0       1.0
33   0.296220       0.4   0.666667  0.333333       1.0        1.0       1.0
477  0.227491       0.2   0.000000  0.000000       1.0        0.0       0.0
129  0.674227       0.4   0.000000  0.666667       1.0        0.0       0.0
401  0.539519       0.4   0.000000  0.333333       1.0        0.0       0.0
240  0.150515       0.4   0.000000  0.333333       1.0        0.0       0.0
21   0.378351       0.4   0.333333  0.000000       1.0        1.0       1.0
155  0.305842       0.4   0.333333  0.000000       1.0        0.0       1.0
532  0.092784       0.2   0.000000  0.000000       0.0        0.0       0.0
190  0.408935       0.6   0.000000  0.333333       1.0        0.0       0.0
435  0.164261       0.2   0.000000  0.000000       1.0        0.0       0.0
476  0.288660       0.4   0.000000  0.333333       1.0        0.0       1.0
124  0.335052       0.4   0.333333  1.000000       1.0        0.0       0.0
225  0.329210       0.2   0.000000  0.000000       1.0        0.0       0.0
363  0.132921       0.2   0.000000  0.000000       1.0        0.0       0.0
227  0.298969       0.2   0.000000  0.000000       1.0        0.0       1.0
528  0.159450       0.0   0.000000  0.000000       0.0        0.0       0.0
75   0.179381       0.6   0.333333  0.333333       1.0        0.0       0.0
241  0.145017       0.4   0.000000  0.000000       1.0        0.0       0.0
..        ...       ...        ...       ...       ...        ...       ...
172  0.463918       0.4   0.000000  0.333333       1.0        1.0       1.0
303  0.195876       0.4   0.000000  0.000000       1.0        0.0       1.0
369  0.134021       0.2   0.000000  0.000000       1.0        0.0       0.0
238  0.196564       0.6   0.333333  0.333333       1.0        0.0       1.0
283  0.186254       0.6   0.000000  0.333333       1.0        0.0       0.0
181  0.381443       0.4   0.000000  0.333333       1.0        1.0       1.0
63   0.323711       0.6   0.333333  0.666667       1.0        0.0       0.0
403  0.776220       0.4   0.000000  0.000000       1.0        0.0       0.0
478  0.134021       0.4   0.000000  0.333333       0.0        0.0       0.0
2    0.571134       0.4   0.333333  0.333333       1.0        0.0       1.0
336  0.441924       0.4   0.000000  0.000000       1.0        0.0       0.0
317  0.229691       0.4   0.333333  0.333333       1.0        0.0       0.0
431  0.105155       0.6   0.000000  0.333333       1.0        0.0       1.0
49   0.397938       0.4   0.333333  0.000000       1.0        1.0       1.0
135  0.298969       0.4   0.333333  1.000000       1.0        0.0       0.0
4    0.396564       0.6   0.000000  0.333333       1.0        1.0       1.0
141  0.344330       0.6   0.333333  0.333333       1.0        1.0       1.0
415  0.215464       0.4   0.000000  0.333333       1.0        1.0       1.0
386  0.151203       0.4   0.000000  0.000000       1.0        0.0       0.0
86   0.345017       0.4   0.000000  0.666667       1.0        0.0       1.0
93   0.381443       0.4   0.333333  0.000000       1.0        0.0       1.0
507  0.134021       0.2   0.000000  0.000000       1.0        0.0       0.0
316  0.292096       0.6   0.333333  0.333333       0.0        0.0       1.0
228  0.136082       0.4   0.000000  0.333333       1.0        0.0       0.0
280  0.323711       0.2   0.000000  0.333333       1.0        0.0       0.0
526  0.105155       0.2   0.000000  0.000000       1.0        0.0       0.0
53   0.240550       0.4   0.333333  1.000000       1.0        0.0       0.0
350  0.121649       0.2   0.000000  0.333333       1.0        0.0       0.0
79   0.298969       0.4   0.333333  0.666667       1.0        1.0       0.0
520  0.415808       0.2   0.000000  0.000000       1.0        0.0       0.0

     hotwaterheating  airconditioning   parking  prefarea  semi-furnished  \
359              0.0              0.0  0.333333       0.0             0.0
19               0.0              1.0  0.333333       1.0             1.0
159              0.0              1.0  0.000000       0.0             0.0
35               0.0              1.0  0.666667       0.0             0.0
28               1.0              0.0  0.666667       0.0             0.0
267              0.0              0.0  0.333333       0.0             1.0
263              0.0              0.0  0.000000       0.0             1.0
433              0.0              0.0  0.333333       0.0             1.0
217              0.0              1.0  0.666667       1.0             0.0
154              0.0              0.0  0.666667       0.0             1.0
534              0.0              0.0  0.000000       0.0             0.0
96               0.0              0.0  0.333333       1.0             0.0
33               0.0              0.0  0.333333       0.0             0.0
477              0.0              0.0  0.000000       0.0             0.0
129              0.0              0.0  0.666667       1.0             1.0
401              0.0              0.0  1.000000       1.0             0.0
240              0.0              0.0  0.333333       1.0             1.0
21               0.0              1.0  0.666667       0.0             0.0
155              0.0              0.0  0.666667       1.0             0.0
532              0.0              0.0  0.000000       0.0             0.0
190              0.0              1.0  0.666667       0.0             0.0
435              0.0              0.0  0.000000       0.0             0.0
476              0.0              0.0  0.333333       0.0             0.0
124              0.0              0.0  0.333333       0.0             0.0
225              0.0              1.0  1.000000       0.0             1.0
363              1.0              0.0  0.000000       0.0             1.0
227              0.0              1.0  0.333333       0.0             0.0
528              0.0              0.0  0.000000       0.0             0.0
75               1.0              0.0  0.000000       0.0             1.0
241              0.0              0.0  0.666667       0.0             1.0
..               ...              ...       ...       ...             ...
172              0.0              1.0  0.666667       1.0             0.0
303              0.0              0.0  0.000000       0.0             0.0
369              0.0              0.0  0.000000       0.0             0.0
238              0.0              0.0  0.000000       0.0             1.0
283              0.0              0.0  0.000000       0.0             0.0
181              0.0              0.0  0.333333       1.0             0.0
63               0.0              1.0  0.666667       1.0             0.0
403              0.0              0.0  0.000000       0.0             0.0
478              0.0              0.0  0.333333       0.0             0.0
2                0.0              0.0  0.666667       1.0             1.0
336              0.0              1.0  0.666667       0.0             1.0
317              0.0              0.0  0.666667       0.0             0.0
431              0.0              1.0  0.000000       0.0             0.0
49               0.0              1.0  0.000000       1.0             1.0
135              0.0              1.0  0.000000       0.0             0.0
4                0.0              1.0  0.666667       0.0             0.0
141              0.0              0.0  0.333333       1.0             1.0
415              0.0              1.0  0.333333       0.0             0.0
386              0.0              0.0  0.666667       0.0             0.0
86               0.0              0.0  0.000000       1.0             0.0
93               0.0              1.0  1.000000       0.0             1.0
507              0.0              0.0  0.000000       0.0             0.0
316              0.0              0.0  0.333333       0.0             0.0
228              0.0              0.0  0.666667       0.0             1.0
280              0.0              0.0  0.000000       0.0             0.0
526              0.0              0.0  0.000000       0.0             0.0
53               0.0              1.0  0.666667       0.0             1.0
350              1.0              0.0  0.333333       0.0             1.0
79               0.0              1.0  0.000000       0.0             0.0
520              0.0              0.0  0.000000       0.0             0.0

     unfurnished  areaperbedroom  bbratio
359          1.0        0.131693     0.20
19           0.0        0.282843     0.60
159          0.0        0.107574     0.60
35           0.0        0.313930     0.60
28           1.0        0.194404     0.28
267          0.0        0.202444     0.20
263          0.0        0.151418     0.20
433          0.0        0.078630     0.10
217          0.0        0.306534     0.20
154          0.0        0.134373     0.60
534          1.0        0.059334     0.10
96           0.0        0.421129     0.20
33           1.0        0.258187     1.00
477          1.0        0.337514     0.40
129          0.0        0.552983     0.20
401          1.0        0.447928     0.20
240          0.0        0.144557     0.20
21           1.0        0.322238     0.60
155          0.0        0.265691     0.60
532          1.0        0.179932     0.40
190          0.0        0.244251     0.10
435          1.0        0.263547     0.40
476          1.0        0.252291     0.20
124          0.0        0.288471     0.60
225          0.0        0.456504     0.40
363          0.0        0.226885     0.40
227          0.0        0.421129     0.40
528          1.0        0.577102     1.00
75           0.0        0.109986     0.40
241          0.0        0.140269     0.20
..           ...             ...      ...
172          1.0        0.388969     0.20
303          0.0        0.179932     0.20
369          0.0        0.228172     0.40
238          0.0        0.120035     0.40
283          0.0        0.114005     0.10
181          0.0        0.324650     0.20
63           0.0        0.194404     0.40
403          1.0        0.632524     0.20
478          1.0        0.131693     0.20
2            0.0        0.472584     0.60
336          0.0        0.371818     0.20
317          1.0        0.206303     0.60
431          1.0        0.066570     0.10
49           0.0        0.337514     0.60
135          1.0        0.260331     0.60
4            0.0        0.237016     0.10
141          0.0        0.206464     0.40
415          0.0        0.195208     0.20
386          1.0        0.145093     0.20
86           1.0        0.296243     0.20
93           0.0        0.324650     0.60
507          1.0        0.228172     0.40
316          1.0        0.175913     0.40
228          0.0        0.133301     0.20
280          1.0        0.450072     0.40
526          1.0        0.194404     0.40
53           0.0        0.214772     0.60
350          0.0        0.213700     0.40
79           0.0        0.260331     0.60
520          1.0        0.557807     0.40

[381 rows x 15 columns]